.Liste {
	width: 70%;
	
	border: 3px solid rgb(68, 141, 252);
	margin-left: auto;
	margin-right: auto;
	
}

.ListElement {
	background-color: rgba(240, 236, 236, 0.952);

	margin: 5px;
}

.label-input {
	text-align: left;
	font-size: 20px;
	margin-bottom: 1px;
}

.align-left {
	text-align: left;
}

.del-button{
	
}

.time{
	position: absolute;
	left: 2;
	top: 3;
}
